@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
}

body {
  height: 100%;
  background: linear-gradient(180deg, #c6c6c6, #231e2d);
  color: #ddd8e4;
}

main {
  text-align: center;
  margin: 5rem auto;
}

main img {
  width: 8rem;
  height: 8rem;
  object-fit: cover;
  filter: drop-shadow(0 0 4px #f6c363);
}
