@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@400;700&display=swap');
/* @import url("https://statics.goorm.io/fonts/GoormSans/v1.0.0/GoormSans.min.css"); */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
}

body {
  height: 100%;
  /* background: linear-gradient(180deg, #c6c6c6, #231e2d); */
  /* color: #ddd8e4; */
}

main {
  text-align: center;
  margin: 5rem auto;
}

